In [59]:
from simulator import InvestmentSimulator

In [60]:

simulator = InvestmentSimulator('IDEA.NS', 2020)

In [61]:
data = simulator.simulate()

/Users/bhawanarajora/Documents/GitHub/finance_analysis/price_tracker_clip/simulator.py:12: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(self.ticker, start=f"{self.start_year}-01-01", interval='1d')
[*********************100%***********************]  1 of 1 completed

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [ ]:
print(data)

None

In [ ]:
import yfinance as yf
ticker = 'IDEA.NS'
start_year = 2020
df_yf_data = yf.download(ticker, start=f"{start_year}-01-01", interval='1d')

/var/folders/j7/8j20dxhx6b3bx6z8bt4n02t80000gn/T/ipykernel_14571/529809214.py:4: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df_yf_data = yf.download(ticker, start=f"{start_year}-01-01", interval='1d')
[*********************100%***********************]  1 of 1 completed

In [ ]:
df['Close']

Ticker      IDEA.NS
Date
2020-01-01     6.10
2020-01-02     6.10
2020-01-03     6.10
2020-01-06     6.00
2020-01-07     6.00
...             ...
2025-07-07     7.29
2025-07-08     7.29
2025-07-09     7.26
2025-07-10     7.33
2025-07-11     7.17

[1370 rows x 1 columns]

In [ ]:
import copy
df = copy.deepcopy(df_yf_data)

# Assume df is your original DataFrame
# Step 1: Reset the column multi-index (remove Ticker level)
df.columns = df.columns.droplevel(1)  # Drop the first level ("Ticker")

# Step 2: Optionally reset index if Date is also a multi-index
# If 'Date' is already index and not part of a multiindex, this is not needed.
# df = df.reset_index()

# Final cleaned DataFrame
print(df.head())

Price       Close  High   Low  Open    Volume
Date
2020-01-01    6.1   6.3  6.00  6.20  55777825
2020-01-02    6.1   6.2  5.95  6.00  67004549
2020-01-03    6.1   6.2  6.00  6.10  77256216
2020-01-06    6.0   6.1  5.90  6.05  65911114
2020-01-07    6.0   6.2  5.90  6.00  85292839

In [ ]:
df['Close']

Date
2020-01-01    6.10
2020-01-02    6.10
2020-01-03    6.10
2020-01-06    6.00
2020-01-07    6.00
              ...
2025-07-07    7.29
2025-07-08    7.29
2025-07-09    7.26
2025-07-10    7.33
2025-07-11    7.17
Name: Close, Length: 1370, dtype: float64

In [51]:
df.columns

Index(['Close', 'High', 'Low', 'Open', 'Volume'], dtype='object', name='Price')

In [52]:
df = copy.deepcopy(df_yf_data)

In [53]:
df

Price        Close    High     Low    Open     Volume
Ticker     IDEA.NS IDEA.NS IDEA.NS IDEA.NS    IDEA.NS
Date
2020-01-01    6.10    6.30    6.00    6.20   55777825
2020-01-02    6.10    6.20    5.95    6.00   67004549
2020-01-03    6.10    6.20    6.00    6.10   77256216
2020-01-06    6.00    6.10    5.90    6.05   65911114
2020-01-07    6.00    6.20    5.90    6.00   85292839
...            ...     ...     ...     ...        ...
2025-07-07    7.29    7.40    7.25    7.30  331996862
2025-07-08    7.29    7.37    7.22    7.29  444237741
2025-07-09    7.26    7.43    7.24    7.35  340817121
2025-07-10    7.33    7.37    7.26    7.32  294420003
2025-07-11    7.17    7.33    7.12    7.33  341830457

[1370 rows x 5 columns]

In [58]:
df.columns

Index(['IDEA.NS', 'IDEA.NS', 'IDEA.NS', 'IDEA.NS', 'IDEA.NS'], dtype='object', name='Ticker')

In [57]:
# Step 2: Handle yfinance's MultiIndex columns (e.g., ('Close', 'ROST'))

if isinstance(df.columns, pd.MultiIndex):
    try:
        # Drop Ticker level (usually 0)
        df.columns = df.columns.droplevel(1)
    except Exception:
        # If above fails, drop second level instead
        df.columns = df.columns.droplevel(0)

# Step 3: Validate 'Close' column presence
if 'Close' not in df.columns:
    raise ValueError(f"'Close' column not found in data for {ticker}")

# Step 4: Validate 'Close' column has non-null values
if df['Close'].isnull().all():
    raise ValueError(f"All Close values are null for ticker: {ticker}")

ValueError: 'Close' column not found in data for IDEA.NS

In [55]:
import pandas as pd